.index-makanan.columns, .index-bahan-makanan.columns{
	height : 200px;
	width : 100%;
	padding : 0;
	background-color : transparent;
}
.index-makanan.column.is-9, .index-bahan-makanan-menu.column.is-9{
	overflow-x : auto;
}
.index-makanan.column.is-3 figure.image.is-square , .index-bahan-makanan.column.is-3 figure.image.is-square{
	margin : 0 auto;
	width : 200px;
	height : 200px;
	padding-top : 0;
	position : relative;
}
.index.container.columns.is-multiline.is-fluid{
	margin : 10px;
}
.index-makanan.column.is-3, .index-bahan-makanan.column.is-3{
	padding : 0px;
}
.index-makanan.column.is-3, .index-makanan-menu.column.is-9{
	background-color : #CCF5D8;
}
.index-bahan-makanan.column.is-3, .index-bahan-makanan-menu.column.is-9{
	background-color : #CCF5F1;
}
.index.image.is-square span, .index-makanan-menu.column.is-3 span, .index-bahan-makanan-menu.column.is-3 span{
	display: inline-block;
	position : absolute;
	color : black;
	top : 0;
	height: 100%;
	width: 100%;
	line-height: 150px;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 30px;
	z-index: 2;
}
.ingredient.index.container.columns.is-multiline.is-fluid{
	margin-top : 80px;
}
.header.index-makanan.column.is-3, .header.index-bahan-makanan.column.is-3{
	position : relative;
	background-color : #05C688;
	color : white;
	height : 40px;
	padding : 0;
	line-height : 40px;
}
.header.index-makanan.column.is-3:before, .header.index-bahan-makanan.column.is-3:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 0 40px 40px 0;
	border-style: solid;
	border-color: #05C688 #FFFFFF;
	z-index : 3;
}
.header.index-bahan-makanan.column.is-3{
	background-color : #05C6C6;
}
.header.index-bahan-makanan.column.is-3:before{
	border-color : #05C6C6 #FFFFFF;
}

.header.index-makanan.column.is-9, .header.index-bahan-makanan.column.is-9{
	background-color : white;
	position : relative;
}

.header.index-makanan.column.is-9 a button, .header.index-bahan-makanan.column.is-9 a button{
	position : absolute;
	top : 1px;
	right : 5px;
	font-family: "penna";
	background-color : #05C688;
}
.header.index-bahan-makanan.column.is-9 a button{
	background-color : #05C6C6;
}
