/*Large Desktop*/
@media (min-width: 1200px) {

}

/*Desktop*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*Small desktop or tablet*/
@media (min-width: 768px) and (max-width: 991px) {

}

/*Phone*/
@media (max-width: 767px) {

}

body.books{
	div.ng-container.user-books{ 
		max-width: 1100px;

		#daterange{ 
			background: #fff; 
			cursor: pointer; 
			padding: 5px 10px; 
			border: 1px solid #ccc; 
			width:260px;
			margin:-30px 0 10px 0;
		}

		.widget .fa-columns{ color: black; }

		table{
			background-color: #f8f8f8;		
			thead{
				color: white;
				background-color: #343838;
				
				.debit, .credit, .balance{ text-align: right; }
			}
			tfoot{
				color: white;
				background-color: #626868;
				td{ text-align: right; font-weight: bold; }

			}	
			tbody{
				td{ vertical-align: middle; }
				a{ text-decoration: none; color: #222 }
				.bold{ font-weight: bold; }
				.amount{ text-align: right; }
				.debit.bold{ color: $color-font-debit; }
				.credit.bold{ color: $color-font-credit; }
				.balance{ font-weight: bold; }
				.balance.negative{ color: $color-font-credit; }


			}				
		}	
		.inline{ position : absolute; }
		.inline-input{ 
			position: absolute; 
			left: 200px;
			top : 10px;
		}
	}

	.form-group.absolute{
		position : absolute;
		top : 10px;
		left : 15px;
	}

	.fa.fa-edit.absolute, .fa.fa-arrow-left.absolute{ 
		position : absolute; 
		top : 15px;
		left : 250px;
	}

	.hide{
		display : none;
	}

	button.btn.btn-info.edit-book-name.absolute{
		position : absolute;
		top : 10px;
		left : 300px;
		height : 25px;
		padding : 5px;
	}
	button.btn.btn-danger.clear-all{
		position : absolute;
		right : 100px;
		top : -5px;
	}
	.read-mode{ display : inline-block; }
	.edit-mode{ display : none; }
	.read-mode.show-edit{ display : none; }
	.edit-mode.show-edit{ display : table-row; }

	button.btn.btn-success.create{ width: 200px; }
	button.btn.btn-success.create-book{ 
		margin-top : 10px;
		margin-left : 400px;
		height : 25px;
		padding : 5px;
	}

	tr.read-mode{ display: table-row; }
	tr.edit-mode{ display: none; }
	tr.read-mode.show-edit{ display:none; }
	tr.edit-mode.show-edit{ display: table-row; }

	.edit-mode.form-group, 
	.entry.form-group{
		.date input, .amount input{ text-align: right; }
	}
}