.fa{
	color : black;
}
.fa-plus{
	color : white;
	width: 25px;
}
.fa-map {
	color : #3E6867;
}
.fa-map-marker {
	width : 25px;
	color : red;
}
.fa-eye, .fa-cutlery, .fa-book{
	color : black;
	width : 25px;
}
.fa-facebook, .fa-twitter, .fa-instagram, .fa-whatsapp{
	height : 30px;
	width: 20px;
	color : black;
	font-size: 20px;
}
.fa.fa-flag{
	color : red;
	font-size : 16px;
	z-index : 4;
	position : absolute;
	top : 5px;
}