.list-icon-small{
	display : inline-block;
	width : 16px;
	height : 18px;
	background-repeat : no-repeat;
	background-size : 16px;
	background-position-y : 2px;
	padding-right : 5px;
}

.list-icon a{
	display : inline-block;
}
#notification{
	background-image : url(../../images/icomoon/16px/027-bullhorn.png);
}
#admin{
	background-image : url(../../images/icomoon/16px/119-user-tie.png);
}
#user{
	background-image : url(../../images/icomoon/16px/114-user.png);
}
#bug{
	background-image : url(../../images/icomoon/16px/154-bug.png);
}
#mail{
	background-image : url(../../images/icomoon/16px/389-mail2.png);
}
#page-stat{
	background-image : url(../../images/icomoon/16px/157-stats-bars.png);
}
#sale{
	background-image : url(../../images/icomoon/16px/156-stats-dots.png);
}
#page{
	background-image : url(../../images/icomoon/16px/035-file-text.png);
}
#tag{
	background-image : url(../../images/icomoon/16px/054-price-tag.png);
}
#product{
	background-image : url(../../images/icomoon/16px/049-folder-open.png);
}
#designer{
	background-image : url(../../images/icomoon/16px/011-eyedropper.png);
}
#logout{
	background-image : url(../../images/icomoon/16px/277-exit.png);
}
#location{
	background-image : url(../../images/icomoon/16px/072-location.png);
}
#food{
	background-image : url(../../images/icomoon/16px/164-spoon-knife.png);
}
#book{
	background-image : url(../../images/icomoon/16px/032-book.png);
}
#report{
	background-image : url(../../images/icomoon/16px/205-flag.png);
}
#log{
	background-image : url(../../images/icomoon/16px/007-pencil2.png);
}
#setting{
	background-image : url(../../images/icomoon/16px/149-cog.png);
}
.logout{
	background-image : url(../../images/icomoon/32px/277-exit.png);
	background-position : center;
	background-repeat : no-repeat;
}
.notification{
	background-image : url(../../images/icomoon/32px/027-bullhorn.png);
	background-position : center;
	background-repeat : no-repeat;
}